<% @page = "tool-new-edit" %>
<% @navigation = 'layouts/navigation' %>


<div class="col-md-3">
</div>

<div class="col-md-6">

  <h1>Edit Resource</h1><br>

  <%= form_for @tool, role: "form", html: {class: "form-horizontal"} do |f| %>

    <div class="form-group">
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :desc, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :desc, rows: 2, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :url, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :url, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :app_type, class: "col-sm-2 control-label" %>
      <div class="col-sm-10 select-style">
        <%= f.select :app_type_id, AppType.all.collect {|a| a.name}, html_option = { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :category, class: "col-sm-2 control-label" %><br>
      <div class="col-sm-10 checkbox-style inline">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :screenshot, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.file_field :screenshot, class: "form-control" %>
      </div>
    </div>

    <div><%= f.submit %></div>
  <% end %>

  <br>
  <div class="row">
    <%= link_to "Go back", user_path(current_user) %>
  </div>

</div>

<div class="col-md-3">
</div>
