<% @page = "tool-index" %>
<% @navigation = 'layouts/navigation' %>

<div class="row" id="toolview">

  <% @tools.each do |tool| %>
    <div class="col-md-3 box <%= render tool.categories %>">

    <%= link_to tool_path(tool) do %>
      <div class="portfolio">
        <div class="portfolio-image" style="background-image: url('<%= tool.screenshot_file_size ? tool.screenshot.url : ""  %>')">
        </div>
        <div class="portfolio-desc">
          <h2><%= tool.name %></h2>
          <p><%= tool.desc %></p>
        </div>
      </div>
      <div class="contenthover">
        <h3><%= tool.name %></h3>
        <p><%= tool.desc %></p>
        <p></p>
      </div>
    <% end %>

    </div>
  <% end %>

</div>
