<% @page = "user-show" %>
<% @navigation = 'layouts/navigation' %>
  
<h1><%= @user.name %><span><%= @user.email %><br>Los Angeles, CA</span></h1>

<br><h3>Your Submissions</h3>
<table class="table table-striped">
<tr>
  <th>Screenshot</th>
  <th>Name</th>
  <th>Description</th>
  <th>URL</th>
  <th>Category</th>
  <th>App Type</th>
  <th>Admin</th>
</tr>
<% @user.tools.each do |tool| %>
<tr>
  <td><%= tool.screenshot_file_size ? image_tag( tool.screenshot.url , width: '100') : "" %></td>
  <td><%= tool.name %></td>
  <td><%= tool.desc %></td>
  <td><a href="<%= tool.url %>"><%= tool.url %></a></td>
  <td><ul><%= render tool.categories %></ul></td>
  <td><%= tool.app_type_id %></td>
  <td>
    <ul>
      <li><%= link_to 'View', tool_path(tool) %></li>
      <li><%= link_to 'Edit', edit_tool_path(tool) %></li>
      <li><%= link_to 'Delete', tool, method: :delete, data: { confirm: 'Are you sure?'} %></li>
    </ul>
  </td>
</tr>
<% end %>
</table>