<!DOCTYPE html>
<html>

<head>
  <title>Dev Spades</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag "ace-of-spades.png" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body id="<%= @page %>">

  <div id="sb-site">
    <header>
      <%= render @navigation %>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </div>

  <div class="sb-slidebar sb-right">
    <ul id="sidebar">
      <% if current_user %>
        <li class="logo"><%= current_user.name %></li>
        <%= link_to root_path do %><li>Home</li><% end %>
        <%= link_to new_user_path do %><li>Favorites</li><% end %>
        <%= link_to logout_path, method: 'delete' do %><li>Log out</li><% end %>
        <%= link_to root_path do %><li>About</li><% end %>       
      <% else %>
        <li class="logo">Menu</li>
        <%= link_to root_path do %><li>Home</li><% end %>
        <%= link_to new_user_path do %><li>Sign up</li><% end %>
        <%= link_to login_path do %><li>Log in</li><% end %>
        <%= link_to root_path do %><li>About</li><% end %>
      <% end %>
    </ul>
  </div>

</body>
</html>
