<!DOCTYPE html>
<html>

<head>
  <title>Dev Spades</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "ace-of-spades.png" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body id="<%= @page %>">

  <div id="sb-site">
    <header>
      <%= render @navigation %>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </div>

  <div class="sb-slidebar sb-right">
    <%= render 'layouts/sidebar' %>
  </div>

</body>
</html>
